.score-board{
  @include grid-center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  width: 100%;
  height: 100%;

  &-item {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background: $lightBackground;

    &--title {
      font-size: 1.8rem;
      text-transform: uppercase;
      color: $main;
    }
  
    &--value {
      font-size: 2rem;
      color: $main;
    }
  }
}